.git
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints

.env

qa_Module/graphrag/lancedb
qa_Module/graphrag/output
qa_Module/graphrag/input
database

*.mp4
*.mov
*.mkv
*.avi
*.wav
*.mp3
*.zip
